In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [2]:
#Store the CSV 
city_data_df = pd.read_csv('weather_data/cities.csv')
# city_data_df.head()

In [3]:
# city_data_df.dtypes

In [4]:
#configure gmaps to use google API Key
gmaps.configure(api_key=g_key)

In [5]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
    
#     temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = heat_layer = gmaps.heatmap_layer(locations, 
                                                           weights=[max(temp, 0) for temp in max_temp], 
                                                           dissipating=False, max_intensity=300, 
                                                           point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness'] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,weights=clouds,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=6)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df['Wind Speed'] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations,weights=wind_speed,
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
#ask the customer to add a minimum and max temp value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [46]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) &
                                      (city_data_df["Max Temp"]>= min_temp)]

# preferred_cities_df.head(10)

In [55]:
preferred_cities_df.count()

City_ID       183
City          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
Country       182
Date          183
dtype: int64

In [56]:
# 6.5.4 Map Vacation Criteria
hotel_df = preferred_cities_df[['City', 'Country','Max Temp', 'Lat', 'Lng' ]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Vera Cruz      BR     75.97 -12.6333  -41.0333
10       Paredon      MX     89.22  16.0333  -93.8667
15         Vaini      TO     80.76 -21.2000 -175.2000
21   Nortelandia      BR     77.77 -14.4547  -56.8028
22         Beira      MZ     75.29 -19.8436   34.8389
25  Puerto Ayora      EC     78.76  -0.7393  -90.3518
27        Atuona      PF     78.46  -9.8000 -139.0333
29    San Andres      CO     84.22  12.5847  -81.7006
30       Cayenne      GF     84.24   4.9333  -52.3333
32         Kapaa      US     80.92  22.0752 -159.3190

In [65]:
# 6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [68]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Vera Cruz,BR,75.97,-12.6333,-41.0333,
10,Paredon,MX,89.22,16.0333,-93.8667,Hotel Principal Paredon
15,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
21,Nortelandia,BR,77.77,-14.4547,-56.8028,Hotel Karysmã
22,Beira,MZ,75.29,-19.8436,34.8389,Beira Terrace Hotel
25,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
29,San Andres,CO,84.22,12.5847,-81.7006,Hotel Arena Blanca
30,Cayenne,GF,84.24,4.9333,-52.3333,Hôtel Le Dronmi
32,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
33,Rikitea,PF,76.39,-23.1203,-134.9692,People ThankYou
39,Juxtlahuaca,MX,84.18,17.4294,-99.1467,"Casa de Huespedes ""El centro"""
42,Labuhan,ID,76.73,-6.8844,112.2051,PT PPI Lamongan Tambak C
44,Lambarene,GA,75.94,-0.7001,10.2406,Le Refuge
46,Georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
50,Katherine,AU,82.72,-14.4667,132.2667,Pine Tree Motel
56,Hithadhoo,MV,81.79,-0.6000,73.0833,Scoop Guest House
60,Castro,BR,80.96,-24.7911,-50.0119,CHACARA BAILLY
61,Gorontalo,ID,75.72,0.5412,123.0595,Maqna Hotel by Prasanthi
63,Saint-Louis,SN,82.15,16.3333,-15.0000,

In [74]:
#Create  max temp heatmap from hotel dataframe
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
#Add infoboc template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [77]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [78]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))